<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polimetal SA - Mecanizado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    

  </head>
  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">POLIMETAL S.A</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/users/produccion">
                  <span data-feather="home"></span>
                    | Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="regProd">
                  <span data-feather="file"></span>
                   |Registros de Produccion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                   |Registro de paradas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                   |Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                   |Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                   |Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="moldes">
                  <span data-feather="file-text"></span>
                   |Moldes entre fechas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="modelos">
                  <span data-feather="file-text"></span>
                   |Modelos entre fechas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tornillos">
                  <span data-feather="file-text"></span>
                   |Tornillos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="produccionDia">
                  <span data-feather="file-text"></span>
                   |Produccion del Dia
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tecnicos">
                  <span data-feather="file-text"></span>
                   |Seguimiento de Tecnicos
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          if mensaje
            .alert.alert-success(role="alert")
              | #{mensaje}
          else
            | <!-- No se muestra nada si no hay mensaje -->
          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group me-2">
                  <label class="form-label me-2" for="fini">Fecha</label>
                  <input type="date" name="fini" class="form-control" id="fini">
                  <button type="button" class="btn btn-sm btn-outline-secondary me-2" id="consultar">
                      <span data-feather="search"></span>  Consultar
                  </button>
                  
              </div>
              
              <div>
                  
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addDataModal">
                      <span data-feather="plus"></span>  Agregar
                  </button>
              </div>
          </div>
          h4 SEGUIMIENTO DE MAQUINAS
          hr
          <div class="d-flex bg-dark text-light justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            
            <div class="d-flex align-items-center" id="toggleTableButton" style="cursor: pointer;">
              <span data-feather="chevron-down" id="toggleIcon"></span>
              <h6 class="ms-2 mb-0">MAÑANA</h6>
            </div>
            
            p(id="m")
            p(id="gm") 
            p(id="om")
            p(id="sm")
          </div>
          div(id="tableContainer")
            table(class="table table-sm table-striped table-hover" )
                      thead 
                          th id 
                          th isla 
                          th 06 a 08
                          th 08 a 10
                          th 10 a 12
                          th 12 a 14
                          th Aprob
                          th Prog
                          th Interm 
                          th Scrap 
                          th % de Scrap 
                          th Tiempo Prog
                          th Observaciones
                          th Accion
                      tbody(id="table1")


          <div class="d-flex bg-dark text-light justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="d-flex align-items-center" id="toggleTableButton2" style="cursor: pointer;">
              <span data-feather="chevron-down" id="toggleIcon2"></span>
              <h6 class="ms-2 mb-0">TARDE</h6>
            </div>
            
            p(id="t")
            p(id="gt")
            p(id="ot")
            p(id="st")
          </div>
          div(id="tableContainer2")
            table(class="table table-sm table-striped table-hover" )
                      thead 
                          th id 
                          th isla 
                          th 14 a 16
                          th 16 a 18
                          th 18 a 20
                          th 20 a 22
                          th Aprob
                          th Prog
                          th Interm 
                          th Scrap 
                          th % de Scrap 
                          th Tiempo Prog
                          th Observaciones
                          th Accion
                      tbody(id="table2")

          <div class="d-flex bg-dark text-light justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="d-flex align-items-center" id="toggleTableButton3" style="cursor: pointer;">
              <span data-feather="chevron-down" id="toggleIcon3"></span>
              <h6 class="ms-2 mb-0">NOCHE</h6>
            </div>
            
            p(id="n")
            p(id="gn")
            p(id="on")
            p(id="sn")
          </div>
          div(id="tableContainer3")
            table(class="table table-sm table-striped table-hover" )
                      thead 
                          th id 
                          th isla 
                          th 22 a 00
                          th 00 a 02
                          th 02 a 04
                          th 04 a 06
                          th Aprob
                          th Prog
                          th Interm 
                          th Scrap 
                          th % de Scrap 
                          th Tiempo Prog
                          th Observaciones
                          th Accion
                      tbody(id="table3")
          <div class="container mt-5">
            <h2 class="text-center mb-4">Tabla de Producción</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover text-center align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th rowspan="3">Máquina</th>
                            <th rowspan="23">Descripción</th>
                            <!-- Intervalos de 2 horas -->
                            <th colspan="12">Producción por Intervalo</th>
                            
                            <th rowspan="3">Total</th>
                        </tr>
                        <tr>
                            <th colspan="4">MAÑANA</th>
                            <th colspan="4">TARDE</th>
                            <th colspan="4">NOCHE</th>
                        </tr>
                        <tr>
                            <!-- Horarios de intervalos -->
                            <th>06:00-08:00</th>
                            <th>08:00-10:00</th>
                            <th>10:00-12:00</th>
                            <th>12:00-14:00</th>
                            <th>14:00-16:00</th>
                            <th>16:00-18:00</th>
                            <th>18:00-20:00</th>
                            <th>20:00-22:00</th>
                            <th>22:00-00:00</th>
                            <th>00:00-02:00</th>
                            <th>02:00-04:00</th>
                            <th>04:00-06:00</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas dinámicas agrupadas -->
                        <tr id="aisla1">
                            <td rowspan="2">ISLA 01</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr id="pisla1">
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 03</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <!-- Repetir para el resto de las máquinas -->
                        <!-- ISLA 06, ISLA 07, etc. -->
                        <tr>
                            <td rowspan="2">ISLA 06</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 07</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 08</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 09</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 10</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">ISLA 11</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td rowspan="2">TOTAL</td>
                            <td>APROBADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>PROGRAMADAS</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <!-- Agregar más filas según sea necesario -->
                    </tbody>
                </table>
            </div>
        </main>

      </div>
    </div>
    <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addDataModalLabel">Agregar Datos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="turnoForm" method="POST" action="iniciarTurno">
            <div class="common-section">
              <h3>INICIO DE TURNO</h3>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha" required>
              </div>
              <div class="mb-3">
                <label for="turno" class="form-label">Turno</label>
                <select class="form-select" id="turno" name="turno" required>
                  <option value="MAÑANA">Mañana</option>
                  <option value="TARDE">Tarde</option>
                  <option value="NOCHE">Noche</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="supervisor" class="form-label">Supervisor</label>
                input(type="text", name="supervisor" class="form-control" value= nombre required)
              </div>
            </div>

            <div class="mb-3">
              <label for="maquina" class="form-label">Seleccionar Máquinas</label>
              select#maquina(name="maquina" class="form-select")
                option(value="") -
                option(value="Isla 1") Isla 1
                option(value="Isla 3") Isla 3
                option(value="Isla 6") Isla 6
                option(value="Isla 7") Isla 7
                option(value="Isla 8") Isla 8
                option(value="Isla 9") Isla 9
                option(value="Isla 10") Isla 10
                option(value="Isla 11") Isla 11
              
            </div>

            <div class="mb-3">
                <label for="operador" class="form-label">Operador</label>
                input(type="text", name="operador" class="form-control" required)
            </div>

            <div class="mb-3">
              <label for="modelo" class="form-label">Seleccionar Modelo</label>
              <select id="modelo" name="modelo" class="form-select" required>
                
              </select>
            </div>

            <div class="mb-3">
              <label for="kit" class="form-label">Seleccionar Kit</label>
              <select id="kit" name="kit" class="form-select" required>
                <option value="K1">K1</option>
                <option value="K1">K2</option>
                <option value="K1">K3</option>
                <option value="K1">K4</option>
                <option value="K1">K5</option>
                <option value="K1">K6</option>
                <option value="K1">K7</option>
                <option value="K1">K8</option>
                <option value="K1">K9</option>
                <option value="K1">K10</option>
                <option value="K1">K11</option>
              </select>
            </div>
            input(type="hidden", name="molde" id="molde")
            h4 Detalles de produccion 1er control
            <div class="mb-3">
                <label for="tiempo_prog" class="form-label">Tiempo Programado</label>
                input(type="number", name="tiempo_prog" class="form-control" required value="120")
            </div>
            <div class="mb-3">
                <label for="programadas" class="form-label">Ruedas Programadas</label>
                input(type="number", name="programadas" id="programadas" class="form-control" required)
            </div>
            <div class="mb-3">
                <label for="aprobadas" class="form-label">Aprobadas</label>
                input(type="number", name="aprobadas" class="form-control" value="0")
            </div>
            <div class="mb-3">
                <label for="op_int" class="form-label">Operacion intermedia</label>
                input(type="number", name="op_int" class="form-control" value="0")
            </div>
            <div class="mb-3">
                <label for="scrap" class="form-label">Scrap</label>
                input(type="number", name="scrap" class="form-control" value="0")
            </div>


            

            <button type="submit" class="btn btn-primary">Iniciar Turno</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    script.
      feather.replace({ 'aria-hidden': 'true' });
      //Esconder o mostrar Secciones.
      document.getElementById("toggleTableButton").addEventListener("click", function() {
          var tableContainer = document.getElementById("tableContainer");
          var icon = document.getElementById("toggleIcon");

          if (tableContainer.style.display === "none") {
              tableContainer.style.display = "block"; // Mostrar el container
              icon.setAttribute("data-feather", "chevron-down"); // Cambiar icono
          } else {
              tableContainer.style.display = "none"; // Ocultar el container
              icon.setAttribute("data-feather", "chevron-right"); // Cambiar icono
          }
          feather.replace(); // Refrescar los íconos
      });
      document.getElementById("toggleTableButton2").addEventListener("click", function() {
          var tableContainer = document.getElementById("tableContainer2");
          var icon = document.getElementById("toggleIcon2");

          if (tableContainer.style.display === "none") {
              tableContainer.style.display = "block"; // Mostrar el container
              icon.setAttribute("data-feather", "chevron-down"); // Cambiar icono
          } else {
              tableContainer.style.display = "none"; // Ocultar el container
              icon.setAttribute("data-feather", "chevron-right"); // Cambiar icono
          }
          feather.replace(); // Refrescar los íconos
      });
      document.getElementById("toggleTableButton3").addEventListener("click", function() {
          var tableContainer = document.getElementById("tableContainer3");
          var icon = document.getElementById("toggleIcon3");

          if (tableContainer.style.display === "none") {
              tableContainer.style.display = "block"; // Mostrar el container
              icon.setAttribute("data-feather", "chevron-down"); // Cambiar icono
          } else {
              tableContainer.style.display = "none"; // Ocultar el container
              icon.setAttribute("data-feather", "chevron-right"); // Cambiar icono
          }
          feather.replace(); // Refrescar los íconos
      });
      document.addEventListener('DOMContentLoaded', () => {
          const dateInput = document.getElementById('fini');
          const now = new Date();

          // Verifica si la hora actual está entre las 00:00 y las 06:00
          if (now.getHours() < 6) {
              // Resta un día para mostrar la fecha anterior
              now.setDate(now.getDate() - 1);
          }

          // Formatea la fecha en formato YYYY-MM-DD
          const formattedDate = now.toISOString().split('T')[0];

          // Establece la fecha en el input
          dateInput.value = formattedDate;
      });
      
      let programadasInput = document.getElementById('programadas');
      let prog = document.getElementById('maquina');
      prog.addEventListener('change', (e) => {
          const valorSeleccionado = e.target.value;

          // Mapeo de valores
          const valores = {
              'Isla 1': 28,
              'Isla 3': 42,
              'Isla 6': 42,
              'Isla 7': 30,
              'Isla 8': 42,
              'Isla 9': 42,
              'Isla 10': 30,
              'Isla 11': 42,
          };

          // Asignar valor al input si existe en el mapeo
          programadasInput.value = valores[valorSeleccionado] || '';
      });
      //Carga de modelos
      fetch('/users/modelos')
      .then(response => response.json())
      .then(datos => {
          const selectModelo = document.getElementById('modelo'); // Referencia al select con id "modelo"
          
          // Limpiar el select antes de llenarlo (opcional si no tiene contenido inicial)
          selectModelo.innerHTML = '';

          // Iterar sobre los datos y agregar opciones al select
          datos.forEach(dato => {
              if (dato.modelo) { // Verificar que el dato tenga la clave "modelo"
                  const option = document.createElement('option');
                  option.value = dato.modelo; // Valor de la opción
                  option.textContent = dato.modelo; // Texto visible de la opción
                  selectModelo.appendChild(option);
              }
          });
      })
      .catch(error => console.error('Error al obtener los modelos:', error));
      //Carga de molde
      const modeloSelect = document.getElementById('modelo');
      const kitSelect = document.getElementById('kit');
      const moldeInput = document.getElementById('molde');

      // Función para actualizar el valor del input "molde"
      function actualizarMolde() {
          const modelo = modeloSelect.value;
          const kit = kitSelect.value;
          moldeInput.value = `${modelo} ${kit}`; // Concatenar los valores
      }

      // Escuchar el evento "change" en ambos selects
      modeloSelect.addEventListener('change', actualizarMolde);
      kitSelect.addEventListener('change', actualizarMolde);


      document.addEventListener('DOMContentLoaded', () => {
        const dateInput = document.getElementById('fini');
        const cons = document.getElementById('consultar');
        const now = new Date();

        if (now.getHours() < 6) {
            now.setDate(now.getDate() - 1);
        }

        const formattedDate = now.toISOString().split('T')[0];
        dateInput.value = formattedDate;

        const fetchData = () => {
              const fecha = dateInput.value;
              fetch(`reg_prod_fecha?fecha=${fecha}`)
                  .then(response => response.json())
                  .then(datos => {
                      console.log(datos);
                      let mañana = 0;
                      let tarde = 0;
                      let noche = 0;
                      //aprobadas
                      let gm = 0;
                      let gt = 0;
                      let gn = 0;
                      //programadas
                      let om = 0;
                      let ot = 0;
                      let on = 0;
                      //Scrap
                      let sm = 0;
                      let st = 0;
                      let sn = 0;
                      const t1 = document.getElementById('table1');
                      const t2 = document.getElementById('table2');
                      const t3 = document.getElementById('table3');

                      t1.innerHTML = "";
                      t2.innerHTML = "";
                      t3.innerHTML = "";

                      datos.forEach(dato => {
                          feather.replace({ 'aria-hidden': 'true' });
                          let targetTable = null;

                          if (dato.turno === 'MAÑANA') {
                              mañana++;
                              gm+=Number(dato.ap);
                              om+=Number(dato.prog);
                              sm+=Number(dato.scrap);
                              targetTable = t1;
                          } else if (dato.turno === 'TARDE') {
                              tarde++;
                              gt+=Number(dato.ap);
                              ot+=Number(dato.prog);
                              st+=Number(dato.scrap);
                              targetTable = t2;
                          } else if (dato.turno === 'NOCHE') {
                              noche++;
                              gn+=Number(dato.ap);
                              on+=Number(dato.prog);
                              sn+=Number(dato.scrap);
                              targetTable = t3;
                          }

                          if (targetTable) {
                              targetTable.innerHTML += `
                                  <tr>
                                      <td>${dato.id}</td>
                                      <td>${dato.maquina}</td>
                                      <td>${dato.molde}</td>
                                      <td>${dato.molde2}</td>
                                      <td>${dato.molde3}</td>
                                      <td>${dato.molde4}</td>
                                      <td>${dato.ap}</td>
                                      <td>${dato.prog}</td>
                                      <td>${dato.intermedia}</td>
                                      <td>${dato.scrap}</td>
                                      <td>${((dato.scrap/(dato.scrap+dato.ap))*100).toFixed(2)}%</td>
                                      <td>${dato.tp}</td>
                                      <td>${dato.observaciones}</td>
                                      <td>
                                          <a href="editRegistro?id=${dato.id}&maquina=${dato.maquina}" class="btn btn-sm btn-primary">
                                              <i data-feather="edit"></i>
                                          </a>
                                          <a href="eliminarDato?id=${dato.id}" class="btn btn-sm btn-danger eliminar-dato" data-id="${dato.id}">
                                              <i data-feather="trash-2"></i>
                                          </a>
                                      </td>
                                  </tr>
                              `;
                          }
                          //Maquinas
                          let m = document.getElementById('m')
                          let t = document.getElementById('t')
                          let n = document.getElementById('n')

                          m.innerHTML = `Maquinas: <strong>${mañana}</strong>`;
                          t.innerHTML = `Maquinas: <strong>${tarde}</strong>`;
                          n.innerHTML = `Maquinas: <strong>${noche}</strong>`;
                          //Golpes
                          document.getElementById('gm').innerHTML = `Total Aprobadas: <strong>${gm}</strong>`;
                          document.getElementById('gt').innerHTML = `Total Aprobadas: <strong>${gt}</strong>`;
                          document.getElementById('gn').innerHTML = `Total Aprobadas: <strong>${gn}</strong>`
                          //OK
                          document.getElementById('om').innerHTML = `Total Programado: <strong>${om}</strong>`;
                          document.getElementById('ot').innerHTML = `Total Programado: <strong>${ot}</strong>`;
                          document.getElementById('on').innerHTML = `Total Programado:| <strong>${on}</strong>`;
                          //Scrap

                          document.getElementById('sm').innerHTML = `Scrap: 1,5% | <strong>${((sm/(gm+sm))*100).toFixed(2)}%</strong>`;
                          document.getElementById('st').innerHTML = `Scrap: 1,5% | <strong>${((st/(gt+st))*100).toFixed(2)}%</strong>`;
                          document.getElementById('sn').innerHTML = `Scrap: 1,5% | <strong>${((sn/(gn+sn))*100).toFixed(2)}%</strong>`;
                      });
                        

                      addDeleteEvent(); // Llamar al evento después de generar las filas
                  });
        };
        const fetchData2 = ()=>{
          const fecha = dateInput.value;
              fetch(`/users/tablaDiaria_mec?fecha=${fecha}`)
                  .then(response => response.json())
                  .then(datos => {
                    datos.forEach(e => {
                     if(e.maquina =="Isla 1"){
                      document.getElementById('aisla1').innerHTML ="";
                      document.getElementById('aisla1').innerHTML = `
                        
                            <td rowspan="2">ISLA 01</td>
                            <td>APROBADAS</td>
                            <td>${e.c1_m}</td>
                            <td>${e.c2_m}</td>
                            <td>${e.c3_m}</td>
                            <td>${e.c4_m}</td>
                            <td>${e.c1_tarde}</td>
                            <td>${e.c2_tarde}</td>
                            <td>${e.c3_tarde}</td>
                            <td>${e.c4_tarde}</td>
                            <td>${e.c1_noche}</td>
                            <td>${e.c2_noche}</td>
                            <td>${e.c3_noche}</td>
                            <td>${e.c4_noche}</td>
                            <td>${e.totalap}</td>
                        
                      `
                     }
                    })

                  })
        }

        const addDeleteEvent = () => {
            // Delegación de eventos para los enlaces "eliminar-dato"
            document.querySelectorAll('.eliminar-dato').forEach(link => {
                link.addEventListener('click', (e) => {
                    e.preventDefault();


                const confirmacion = confirm("¿Estás seguro de que deseas eliminar este registro?");
                if (confirmacion) {
                    window.location.href = link.getAttribute('href');
                } else {
                                console.log("Eliminación cancelada");
                            }
                        });
                    });
                };

        cons.addEventListener('click', (e) => {
            e.preventDefault();
            fetchData();
            fetchData2();
        });

        fetchData();
        fetchData2();
      });
  </body>
</html>
