<!doctype html>
html(lang="es")
  head
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/fixedheader/3.2.1/css/fixedHeader.dataTables.min.css" rel="stylesheet">

    <title>Polimetal S.A</title>
    <link rel="stylesheet" href="/stylesheets/styleIndex.css">
  body
   
    div(class="d-flex")
        
        div(id="sidebar-container" class="bg-primary")
            div(class="logo")
                img(src="favicon.ico" alt="" class="d-inline-block")
                h4(class="text-light font-weight-bold d-inline-block") Polimetal S.A
            div(class="menu")
                a(href="/" class="d-block p-1 text-light"     )
                    i(class="icon ion-md-home m-2 lead") Inicio
               
                hr
                h6(class="p-3 text-light") Sectores
                a(href="Qsb/iny?sector=Inyeccion" class="d-block p-1 text-light") Inyeccion
                a(href="Qsb/cc?sector=TTCC" class="d-block p-1 text-light") TT & CC
                a(href="Qsb/mec?sector=Mecanizado" class="d-block p-1 text-light") Mecanizado
                a(href="Qsb/vent?sector=Ventilado" class="d-block p-1 text-light") Ventilado 
                a(href="Qsb/pint?sector=Pintura" class="d-block p-1 text-light") Pintura
                a(href="Qsb/log?sector=Logistica" class="d-block p-1 text-light") Logistica
                
                
                ul.logout
                    li
                        .logout-container
                        img(src="images/usuario.png" alt="" width="50px")
                        p.d-block.p-3.text-light= nombre
                        a(href="/logout" class="d-block p-3.text-light")
                            i.icon.ion-md-log-in.m-2.lead Logout
               
                        
                
        
        div(class="w-100")
            div(class="container")

                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        button#menu-toggle.btn.btn-outline-primary
                            i.icon.ion-md-menu
                        h3(class="navbar-brand") Reunion de respuesta rapida       
                            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Agregar Datos</button>
                       

                    </div>
                    

                </nav>
                
                <div class="container text-center my-4">
                    <h4>INDICADOR</h4>
                    <div class="d-flex justify-content-center">
                        <div style="width: 100%; max-width: 500px; height: 400px;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h4>PLAN DE ACCION</h4>
                    <table class="display" id="tabla"></table>
                </div>
                        
                        
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">+ Nueva Deteccion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <form class="d-flex" action="Qsb/actionplan" method="POST">                               
                                            input(type="hidden", name="sector1" value=sector)
                                            <label class="form-label"> Fecha
                                            <input type="date", name="fecha" class="form-control">
                                            <label class="form-label"> Sector
                                            select(name="sector", class="form-select")
                                                option(value="Matriceria") Matriceria
                                                option(value="Inyeccion") Inyeccion 
                                                option(value="TTCC") TT&CC
                                                option(value="Mecanizado") Mecanizado
                                                option(value="Ventilado") Ventilado
                                                option(value="Pintura") Pintura
                                                option(value="Mantenimiento") Mantenimiento 
                                                option(value="RRHH") RRHH 
                                                option(value="Logistica") Logistica 
                                                option(value="HHSS") HHSS 
                                                option(value="Gerencia") Gerencia 
                                                option(value="Ingenieria") Ingenieria
                                                option(value="Compras") Compras
                                            <label class="form-label"> Descripcion
                                            <textarea name="descripcion" class="form-control"></textarea>
                                            <label class="form-label"> Accion
                                            <textarea name="accion" class="form-control"></textarea>
                                            <label class="form-label"> Responsable
                                            <input type="text", name="responsable" class="form-control">
                                            select(name="sector_resp", class="form-select")
                                                option(value="Matriceria") Matriceria
                                                option(value="Inyeccion") Inyeccion 
                                                option(value="TTCC") TT&CC
                                                option(value="Mecanizado") Mecanizado
                                                option(value="Ventilado") Ventilado
                                                option(value="Pintura") Pintura
                                                option(value="Mantenimiento") Mantenimiento 
                                                option(value="RRHH") RRHH 
                                                option(value="Logistica") Logistica 
                                                option(value="HHSS") HHSS 
                                                option(value="Gerencia") Gerencia 
                                                option(value="Ingenieria") Ingenieria
                                                option(value="Compras") Compras
                                            <label class="form-label"> Comentario
                                            <textarea name="comentario" class="form-control"></textarea>
                                            <label class="form-label"> Estado
                                            select(name="estado", class="form-select")
                                                option(value="No Iniciado") No Iniciado
                                                option(value="En Proceso") En Proceso
                                                option(value="Completado") Completado
                                            <label class="form-label"> Fecha Tentativa
                                            <input type="date", name="fecha_tent" class="form-control">
                                            <label class="form-label"> Fecha de Cierre
                                            <input type="date", name="fecha_cierre" class="form-control">
                                                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            </div>
                            </form>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Detección</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="editForm" class="d-flex" action="actplan" method="POST">
                                <div class="modal-body">
                                        <input id="id" type="hidden" name="id" value="sector">                       
                                        <input type="hidden" name="sector1" value="sector">
                                        <label class="form-label"> Fecha
                                        <input type="date" id="fecha" name="fecha" class="form-control">
                                        </label>
                                        <label class="form-label"> Sector
                                        <select id="sector" name="sector" class="form-select">
                                            <option value="Matriceria">Matriceria</option>
                                            <option value="Inyeccion">Inyección</option>
                                            <option value="TTCC">TT&CC</option>
                                            <option value="Mecanizado">Mecanizado</option>
                                            <option value="Ventilado">Ventilado</option>
                                            <option value="Pintura">Pintura</option>
                                            <option value="Mantenimiento">Mantenimiento</option>
                                            <option value="RRHH">RRHH</option>
                                            <option value="Logistica">Logística</option>
                                            <option value="HHSS">HHSS</option>
                                            <option value="Gerencia">Gerencia</option>
                                            <option value="Ingenieria">Ingeniería</option>
                                            <option value="Compras">Compras</option>
                                        </select>
                                        </label>
                                        <label class="form-label"> Descripción
                                        <textarea id="descripcion" name="descripcion" class="form-control"></textarea>
                                        </label>
                                        <label class="form-label"> Acción
                                        <textarea id="accion" name="accion" class="form-control"></textarea>
                                        </label>
                                        <label class="form-label"> Responsable
                                        <input type="text" id="responsable" name="responsable" class="form-control">
                                        </label>
                                        <label class="form-label"> Sector Responsable
                                        <select id="sector_resp" name="sector_resp" class="form-select">
                                            <option value="Matriceria">Matriceria</option>
                                            <option value="Inyeccion">Inyección</option>
                                            <option value="TTCC">TT&CC</option>
                                            <option value="Mecanizado">Mecanizado</option>
                                            <option value="Ventilado">Ventilado</option>
                                            <option value="Pintura">Pintura</option>
                                            <option value="Mantenimiento">Mantenimiento</option>
                                            <option value="RRHH">RRHH</option>
                                            <option value="Logistica">Logística</option>
                                            <option value="HHSS">HHSS</option>
                                            <option value="Gerencia">Gerencia</option>
                                            <option value="Ingenieria">Ingeniería</option>
                                        </select>
                                        </label>
                                        <label class="form-label"> Comentario
                                        <textarea id="comentario" name="comentario" class="form-control"></textarea>
                                        </label>
                                        <label class="form-label"> Estado
                                        <select id="estado" name="estado" class="form-select">
                                            <option value="No Iniciado">No Iniciado</option>
                                            <option value="En Proceso">En Proceso</option>
                                            <option value="Completado">Completado</option>
                                        </select>
                                        </label>
                                        <label class="form-label"> Fecha Tentativa
                                        <input type="date" id="fecha_tent" name="fecha_tent" class="form-control">
                                        </label>
                                        <label class="form-label"> Fecha de Cierre
                                        <input type="date" id="fecha_cierre" name="fecha_cierre" class="form-control">
                                        </label>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                                    
                                </div>
                            </form>

                        </div>
                    </div>
                </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    script. 

        document.addEventListener("DOMContentLoaded", function() {
            const menuToggle = document.getElementById('menu-toggle');
            const sidebarContainer = document.getElementById('sidebar-container');

            menuToggle.addEventListener('click', function() {
                sidebarContainer.classList.toggle('active');
            });
        });
        fetch('Qsb/datosPlan')
            .then(response => response.json())
            .then(datos => {
                
                let noIniciado = 0;
                let enProceso = 0;
                let completado=0;

                let dataset = [];
                datos.forEach(dato => {
                    let f01 = new Date(dato.fecha);
                    let f1 = `${f01.getDate()}/${f01.getMonth()+1}/${f01.getUTCFullYear()}`;

                    let f02 = dato.fecha_tent ? new Date(dato.fecha_tent) : null;
                    let f2 = f02 ? `${f02.getDate()}/${f02.getMonth()+1}/${f02.getUTCFullYear()}` : null;
                    let f21 = f2 !== "30/11/1899" ? f2 : "";
                    
                    let f03 = dato.fecha_cierre ? new Date(dato.fecha_cierre) : null;
                    let f3 = f03 ? `${f03.getDate()}/${f03.getMonth()+1}/${f03.getUTCFullYear()}` : null;
                    let f31 = f3 !== "30/11/1899" ? f3 : "";
                   
                    dataset.push([
                        dato.id,
                        f1,
                        dato.sector,
                        dato.descripcion,
                        dato.accion,
                        dato.responsable,
                        dato.sector_resp,
                        dato.comentario,
                        f21,
                        f31,
                        dato.estado,
                        `<button type="button" class="btn btn-primary btn-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-id="${dato.id}"> Editar</button>`
                    ]);

                    if(dato.estado == "No Iniciado"){
                        noIniciado++
                    }else if(dato.estado == "En Proceso"){
                        enProceso++
                    }else{
                        completado++
                    }
                });

                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['NO INICIADO', 'EN PROCESO', 'CERRADO'],
                        datasets: [{
                            label: '# of Votes',
                            data: [noIniciado, enProceso, completado],
                            borderWidth: 1,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'green'
                            ],
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                $(document).ready(function () {
                    var table = $('#tabla').DataTable({
                        fixedHeader: true,
                        dom: 'Bfrtlip',
                        data: dataset,
                        columns: [
                            { title: 'Id' },
                            { title: 'Fecha' },
                            { title: 'Sector' },
                            { title: 'Descripcion' },
                            { title: 'Accion' },
                            { title: 'Responsable' },
                            { title: 'Sector Responsable' },
                            { title: 'Comentario' },
                            { title: 'Fecha tentativa' },
                            { title: 'Fecha Cierre' },
                            { title: 'Estado' },
                            { title: '☰' },
                        ],
                    });

                    $('#tabla thead tr').clone(true).appendTo('#tabla thead');
                    $('#tabla thead tr:eq(1) th').each(function(i) {
                        var title = $(this).text();
                        $(this).html('<input type="text" placeholder="Buscar..."/>');

                        $('input', this).on('keyup change', function() {
                            if (table.column(i).search() !== this.value) {
                                table
                                    .column(i)
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                    function fechaEdit(x){
                        let dia = (x.getUTCDate()<10?'0':'')+x.getUTCDate();
                        let mes = ((x.getMonth()+1)<10?'0':'')+(x.getMonth()+1);
                        let f = x.getUTCFullYear()+"-"+mes+"-"+dia;
                        return f;
                        }
                    $('#tabla tbody').on('click', '.btn-edit', function() {
                        let dataId = $(this).data('id');
                        let rowData = datos.find(dato => dato.id == dataId);

                        if (rowData) {
                            $('#id').val(rowData.id);

        // Formatear las fechas a 'YYYY-MM-DD'
        let fechaFormatted = rowData.fecha ? new Date(rowData.fecha).toISOString().split('T')[0] : '';
        let fechaTentFormatted = rowData.fecha_tent || rowData.fecha_tent==="0000-00-00" ? new Date(rowData.fecha_tent).toISOString().split('T')[0] : null;
        let fechaCierreFormatted = rowData.fecha_cierre ? new Date(rowData.fecha_cierre).toISOString().split('T')[0] : null;

        // Pre-cargar los valores en el formulario
        $('#fecha').val(fechaFormatted);
        $('#sector').val(rowData.sector);
        $('#descripcion').val(rowData.descripcion);
        $('#accion').val(rowData.accion);
        $('#responsable').val(rowData.responsable);
        $('#sector_resp').val(rowData.sector_resp);
        $('#comentario').val(rowData.comentario);
        $('#estado').val(rowData.estado);
        $('#fecha_tent').val(fechaTentFormatted || "");
        $('#fecha_cierre').val(fechaCierreFormatted);
                        }
                    });
                });
            });