<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Polimetal SA - Inyeccion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    style.
      .chart-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap; /* Esto permite que los elementos se vayan a la siguiente línea si no hay espacio */
      }

      .chart-box {
        width: 45%;
        height: 450px;
        margin-bottom: 20px; /* Espacio entre los gráficos */
      }

      @media (max-width: 768px) {
        .chart-box {
          width: 100%; /* Los gráficos ocuparán el 100% del ancho en pantallas pequeñas */
        }
      }
   
  </head>
  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">POLIMETAL S.A</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <span data-feather="home"></span>
                    | Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                   |Registros de Produccion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                   |Registro de paradas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                   |Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                   |Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                   |Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="produccion/">
                  <span data-feather="file-text"></span>
                   |Moldes entre fechas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="produccion/inyeccion/modelos">
                  <span data-feather="file-text"></span>
                   |Modelos entre fechas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="produccion/inyeccion/tornillos">
                  <span data-feather="file-text"></span>
                   |Tornillos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                   |Produccion del Dia
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4 class="">Inyección - Reporte Diario</h4>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                label(class="form-label" for="fini") Fecha
                input(type="date", name="fini", class="form-control", id="fini")
              
                
                <button type="button" class="btn btn-sm btn-outline-secondary" id="consultar">
                  <span data-feather="search"></span>
                    |Consultar
                </button>
                
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="card text-center">
                <div class="card-body">
                  <i class="fa fa-hammer fa-3x"></i>
                  <h5 class="card-title">Total Golpes</h5>
                  
                  <p class="card-text" id="golpes"></p>
                </div>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="card text-center">
                <div class="card-body">
                  <i class="fa fa-trash fa-3x"></i>
                  <h5 class="card-title">Total Isla</h5>
                  <p class="card-text" id="isla"></p>
                </div>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="card text-center">
                <div class="card-body">
                  <i class="fa fa-trash fa-3x"></i>
                  <h5 class="card-title">Total Rx</h5>
                  <p class="card-text" id="rx"></p>
                </div>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="card text-center">
                <div class="card-body">
                  <i class="fas fa-check-circle fa-3x"></i>
                  <h5 class="card-title">Total OK</h5>
                  <p class="card-text" id="ok"></p>
                </div>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="card text-center" id="scrapCard">
                <div class="card-body">
                  <i class="fas fa-percentage fa-3x"></i>
                  <h5 class="card-title">Scrap %</h5>
                  <p class="card-text" id="scrap"></p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card text-center">
                <div class="card-body">
                  <i class="fa fa-industry fa-3x"></i>
                  <h5 class="card-title">Inyectoras</h5>
                  <p class="card-text" id="maquinas"></p>
                </div>
              </div>
            </div>
          </div>
          <h5>Scrap por Molde y Scrap por Máquina</h5>

          <div class="chart-container">
            <div class="chart-box">
              <canvas id="myChart"></canvas>
            </div>
            
            <div class="chart-box">
              <canvas id="myChart1"></canvas>
            </div>
          </div>
          <h5>Resumen del dia</h5>
          <div class="chart-container">
            <div class="table-responsive">
              <table class="table table-striped table-sm" >
                <thead>
                  <tr>
                    <th scope="col">MOLDE</th>
                    <th scope="col">GOLPES</th>
                    <th scope="col">ISLA</th>
                    <th scope="col">RX</th>
                    <th scope="col">OK</th>
                    <th scope="col">SCRAP</th>
                  </tr>
                </thead>
                <tbody id="tabla">

                </tbody>
              </table>
            </div>
          
            <div class="table-responsive">
              <table class="table table-striped table-sm" >
                <thead>
                  <tr>
                    <th scope="col">MAQUINA</th>
                    <th scope="col">PONDERADO</th>
                    <th scope="col">GOLPES</th>
                    <th scope="col">ISLA</th>
                    <th scope="col">RX</th>
                    <th scope="col">OK</th>
                    <th scope="col">SCRAP</th>
                  </tr>
                </thead>
                <tbody id="tabla1">

                </tbody>
              </table>
            </div>    
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/dashboard.js"></script>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    script.
      feather.replace({ 'aria-hidden': 'true' })
      document.addEventListener('DOMContentLoaded',function(){
        initChart();
        initChart1();
        })

        function initChart() {
            // Crea el gráfico en la carga de la página
            let ctx = document.getElementById('myChart').getContext("2d");
            let chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Scrap dia a dia',
                        data: [], // Los datos se actualizarán más tarde
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Objetivo',
                        data: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
                plugins:[ChartDataLabels]
            });

            return chart;

        }
        function initChart1() {
            // Crea el gráfico en la carga de la página
            let ctx = document.getElementById('myChart1').getContext("2d");
            let chart1 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Scrap dia a dia',
                        data: [], // Los datos se actualizarán más tarde
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Objetivo',
                        data: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
                plugins:[ChartDataLabels]
            });

            return chart1;
        }

        let cons = document.getElementById('consultar');
        cons.addEventListener('click', (e) => {
          e.preventDefault();
          updateChart();
          
        });
       
        
         function updateChart(){
          function fecha(x){
            let f = new Date(x);
            let dia=f.getDate();
            let mes = f.getMonth()+1;
            let año = f.getUTCFullYear();
            let fecha = dia+"/"+mes+"/"+año;
            return fecha
          }
          var fini = document.getElementById('fini').value;
          var tabla = document.getElementById('tabla');
            
            
          fetch(`prod_dia?fecha=${fini}`)
            .then(response => response.json())
            .then(datos =>{
                
                let chart = Chart.instances[0];
                chart.data = {
                          labels: datos.map(e => e.modelo),
                          
                          datasets: [{
                            data: datos.map(e => e.Scrap),
                            label:'Scrap',
                            type:'bar',
                            
                            datalabels:{
                              align:'top',
                              font:{
                                weight:'bold'
                              },
                              formatter: function(value, context) {
                                  return Number(value*100).toFixed(2) + '%';
                                }
                            }
                            },
                            {
                              data: datos.map(e => 0.045),
                              label:'Objetivo',
                              type:'line',
                              
                              datalabels:{
                                display:false
                                }
                            }],
                          
                          
                        }
                
                chart.update();
                
                  
                  //Colocar los inners para mostrar los totales

                  tabla.innerHTML = "";
                  let totalGolpes = 0, totalIsla = 0, totalRx = 0, totalOk = 0, totalScrap = 0;


                  for(let i = 0; i < datos.length; i++) {
                    totalGolpes += Number(datos[i].golpes);
                    totalIsla += Number(datos[i].isla);
                    totalRx += Number(datos[i].rx);
                    totalOk += Number(datos[i].ok);
                    totalScrap += datos[i].Scrap; // Scrap es un porcentaje, así que se suma directo
                                    
                    tabla.innerHTML += `
                      <tr>
                        <td>${datos[i].modelo}</td>
                        <td>${datos[i].golpes}</td>
                        <td>${datos[i].isla}</td>
                        <td>${datos[i].rx}</td>
                        <td>${datos[i].ok}</td>
                        <td>${(datos[i].Scrap * 100).toFixed(2)}%</td>
                      </tr>`;
                  }

                  // Añadir una fila de totales
                  tabla.innerHTML += `
                    <tr>
                      <td><strong>Total</strong></td>
                      <td><strong>${totalGolpes}</strong></td>
                      <td><strong>${totalIsla}</strong></td>
                      <td><strong>${totalRx}</strong></td>
                      <td><strong>${totalOk}</strong></td>
                      <td><strong>${(((totalIsla+totalRx)/totalGolpes)*100).toFixed(2)}%</strong></td>
                    </tr>`;
                    document.getElementById('golpes').innerHTML = totalGolpes
                    document.getElementById('isla').innerHTML = totalIsla
                    document.getElementById('rx').innerHTML = totalRx
                    document.getElementById('ok').innerHTML = totalOk
                    document.getElementById('scrap').innerHTML = (((totalIsla+totalRx)/totalGolpes)*100).toFixed(2)+"%"
                    let scrapPercentage = (((totalIsla + totalRx) / totalGolpes) * 100).toFixed(2);
                    if (scrapPercentage > 4.5) {
                        // Si es mayor a 4.5, quita el color verde y añade rojo
                        scrapCard.classList.remove('bg-success');
                        scrapCard.classList.add('bg-danger');
                    } else {
                        // Si es menor o igual a 4.5, quita el color rojo y añade verde
                        scrapCard.classList.remove('bg-danger');
                        scrapCard.classList.add('bg-success');
                    }
                  })

          fetch(`prod_dia_maquina?fecha=${fini}`)
            .then(response => response.json())
            .then(datos =>{
                
                let chart1 = Chart.instances[1];
                chart1.data = {
                          labels: datos.map(e => e.gima),
                          
                          datasets: [{
                            data: datos.map(e => e.Scrap),
                            label:'Scrap',
                            type:'bar',
                            
                            datalabels:{
                              align:'top',
                              font:{
                                weight:'bold'
                              },
                              formatter: function(value, context) {
                                  return Number(value*100).toFixed(2) + '%';
                                }
                            }
                            },
                            {
                            data: datos.map(e => e.ponderado),
                            label:'Ponderado',
                            type:'line',
                            
                            datalabels:{
                              align:'top',
                              font:{
                                weight:'bold'
                              },
                              formatter: function(value, context) {
                                  return Number(value*100).toFixed(2) + '%';
                                }
                            }
                            },
                            {
                              data: datos.map(e => 0.045),
                              label:'Objetivo',
                              type:'line',
                              
                              datalabels:{
                                display:false
                                }
                            }],
                          
                          
                        }
                chart1.update();
                     tabla1.innerHTML ="";
                     let maquinas = 0
                  for(let i=0; i<datos.length;i++){
                      maquinas++
                      tabla1.innerHTML += `
                    <tr>
                      <td>${datos[i].gima}</td>
                      <td>${(datos[i].ponderado*100).toFixed(2)}%</td>
                      <td>${datos[i].golpes}</td>
                      <td>${datos[i].isla}</td>
                      <td>${datos[i].rx}</td>
                      <td>${datos[i].ok}</td>
                      <td>${(datos[i].Scrap*100).toFixed(2)}%</td>
                    </tr>`
                  }
                  document.getElementById('maquinas').innerHTML=maquinas;
                  let objGolpes=maquinas*190
                  document.getElementById('objGolpes').innerHTML=objGolpes;
            })
          
        }
          
                  

       
    
  </body>
</html>
