doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Polimetal S.A | Ordenes de Trabajo
        
        link(href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css")
        link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
        script(src="https://kit.fontawesome.com/d3705cd4bb.js" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/styleIndex.css")

    body
        div(class="d-flex")
            div(id="sidebar-container" class="bg-primary")
                div(class="logo")
                img(src="/favicon.ico" alt="" class="d-inline-block")
                h4(class="text-light font-weight-bold d-inline-block") Polimetal S.A
                div(class="menu")
                    a(href="/" class="d-block p-3 text-light" )
                        i(class="icon ion-md-home m-2 lead") 
                            |
                            |Inicio
                    a(href="ordenTrabajo" class="d-block p-3 " id="selected")
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes de Trabajo
                    a(href="" class="d-block p-3 text-light")
                        i(class="icon ion-md-warning m-2 lead") 
                            |
                            |Incidentes
                    a(href="#" class="d-block p-3 text-light")
                        i(class="icon ion-md-walk m-2 lead") Mtto Autonomo
                    
                    
                    ul(class="logout")
                        li  
                            div(style="text-align: center")
                                img(src="/images/usuario.png", alt="" width="50px")
                            p(class="d-block p-3 text-light")= nombre
                            a(href="/logout" class="d-block p-3 text-light" )
                                i(class="icon ion-md-log-in m-2 lead" )="    Logout"
               
            
            div(class="w-100")
                div(class="container" )
                    if (mensaje)
                        div(class="alert alert-success" role="alert")= mensaje

                        a(href="/") 
                            div(style="text-align: center;")
                                img(src="/images/logo.jpg" alt="logo" class="img-fluid")
                    
                        div(style="text-align: center;")
                            h2= "Listado de Ordenes - Sector "+sector
                        
                        div(class="container")
                            table(id="t1" class="table table-striped" style="width:100%")
                                thead(id="thmtto")
                                    th Id
                                    th Sector 
                                    th Detecto 
                                    th Equipo
                                    th Fecha 
                                    th Turno 
                                    th Parada de Proc.
                                    th Prioridad 
                                    th Tipo 
                                    th Hs Inicio 
                                    th Hs Fin 
                                    th Descripcion
                                    th Total
                                    th Estado
                                    th Accion
                                    
                                tbody 
                                    each i in orden
                                        tr     
                                            td= i.idOrden
                                            td= i.sector
                                            td= i.detecto 
                                            td= i.equipo 
                                            td= i.fecha 
                                            td= i.turno 
                                            td= i.paradaProceso 
                                            td= i.prioridad 
                                            td= i.tipo 
                                            td= i.horaInicio 
                                            td= i.horaFin 
                                            td= i.descripcion  
                                            td= i.tiempoTotal
                                            td= i.estado
                                            td
                                                a(href="resolverOrden?idOrden="+i.idOrden)
                                                        h2(class="editIcon")
                                                            i(class='bx bxs-edit') 
                        br
                        hr
                        h2 Todas las ordenes 
                    else 
                        a(href="/") 
                            div(style="text-align: center;")
                                img(src="/images/logo.jpg" alt="logo" class="img-fluid")
                    
                        div(style="text-align: center;")
                            h2= "Listado de Ordenes - Sector "+sector
                        
                        div(class="container")
                            table(id="t1" class="table table-striped" style="width:100%")
                                thead(id="thmtto")
                                    th Id
                                    th Sector 
                                    th Detecto 
                                    th Equipo
                                    th Fecha 
                                    th Turno 
                                    th Parada de Proc.
                                    th Prioridad 
                                    th Tipo 
                                    th Hs Inicio 
                                    th Hs Fin 
                                    th Descripcion
                                    th Total
                                    th Estado
                                    th Accion
                                    
                                tbody 
                                    each i in orden
                                        tr     
                                            td= i.idOrden
                                            td= i.sector
                                            td= i.detecto 
                                            td= i.equipo 
                                            td= i.fecha 
                                            td= i.turno 
                                            td= i.paradaProceso 
                                            td= i.prioridad 
                                            td= i.tipo 
                                            td= i.horaInicio 
                                            td= i.horaFin 
                                            td= i.descripcion  
                                            td= i.tiempoTotal
                                            td= i.estado
                                            td
                                                a(href="resolverOrden?idOrden="+i.idOrden)
                                                        h2(class="editIcon")
                                                            i(class='bx bxs-edit') 
                        br
                        hr
                        h2 Todas las ordenes 

                    script(src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js")    
                    script(src="https://code.jquery.com/jquery-3.5.1.js")
                    script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js")
                    script(src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js")   
                    script. 
                        $(document).ready(function() {
                            $('#t1').DataTable();
                            } );  

                footer 
                    br 
                    div(class="col-12")
                        h6 &copy Copyright 2021 | Polimetal S.A                                