doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Polimetal S.A
        
        link(href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
        
        link(rel="stylesheet" href="/stylesheets/styleIndex.css")

    body
        div(class="d-flex")
            div(id="sidebar-container" class="bg-primary")
                div(class="logo")
                
                h4(class="text-light font-weight-bold text-align-center") Polimetal S.A
                div(class="menu")
                    a(href="/" class="d-block " )
                        i(class="icon ion-md-home m-2 lead") 
                            |
                            |Inicio
                    a(href="ordenTrabajo" class="d-block text-light")
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes de Trabajo
                    a(href="ordenesDia" class="d-block text-light" id="selected")
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes del Dia
                    br
                    hr

                    p Reportes
                    a(href="reporteHs" class="d-block text-light")
                        i(class="fa fa-table" aria-hidden="true") 
                            |
                            | Reporte de Horas
                        
                    
                    
                    ul(class="logout")
                        li  
                            div(style="text-align: center")
                                img(src="../images/usuario.png", alt="" width="50px")
                            
                            a(href="/logout" class="d-block p-3 text-light" )
                                i(class="icon ion-md-log-in m-2 lead" )="    Logout"
               
            
            div(class="w-100") 
                div(class="container")
                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                            button#menu-toggle.btn.btn-outline-primary ☰
                            h3(class="navbar-brand") Ordenes del dia
                            

                            <form class="d-flex">
                                
                                label(class="form-label") Seleccione Fecha

                                input(type="date", name="fecha" id="fecha" class="form-control")

                                <button class="btn btn-outline-success" type="button" id="btn_consultar">Consultar</button>
                            </form>

                        </div>
                div(class="container")
                    h3 Ordenes Abiertas 
                    table(id="t1" class="table table-striped" )
                        thead
                            th Id 
                            th Detecto 
                            th Avisar
                            th Equipo
                            th Fecha 
                            th Turno 
                            th Parada de Proc.
                            th Prioridad 
                            th Tipo 
                            th Hs Inicio
                            th Descripcion
                            th Accion

                hr
                div(class="container")
                    h3 Ordenes Cerradas
                    
                    table(id="t2" class="table table-striped" )
                        thead
                            th Id 
                            th Detecto 
                            th Avisar
                            th Equipo
                            th Fecha 
                            th Turno 
                            th Parada de Proc.
                            th Prioridad 
                            th Tipo 
                            th Hs Inicio
                            th Descripcion
                            th Accion
                            
            
                            
                
                                    
                

                
                  
                
        
        script. 
            document.addEventListener("DOMContentLoaded", function() {
                const menuToggle = document.getElementById('menu-toggle');
                const sidebarContainer = document.getElementById('sidebar-container');

                menuToggle.addEventListener('click', function() {
                    sidebarContainer.classList.toggle('active');
                });
            });

            let consultar = document.getElementById('btn_consultar');
           

            consultar.addEventListener('click',(e)=>{
                e.preventDefault();
                
                let fecha = document.getElementById('fecha').value;
                let tableAbiertas = document.getElementById('t1');
                let tableCerradas = document.getElementById('t2');
                
                fetch(`ordenDia?fecha=${fecha}`)
                    .then(response => response.json())
                    .then(data => {
                        function fecha(x){
                        let f = new Date(x);
                        let fecha = `${f.getDate()}/${f.getMonth()+1}/${f.getUTCFullYear()}`;
                        return fecha;
                        };
                        function fechahs(x) {
                            let f = new Date(x);
                            let day = f.getDate().toString().padStart(2, '0');
                            let month = (f.getMonth() + 1).toString().padStart(2, '0');
                            let year = f.getFullYear();
                            let hours = f.getHours().toString().padStart(2, '0');
                            let minutes = f.getMinutes().toString().padStart(2, '0');
                            return `${day}/${month}/${year} ${hours}:${minutes}`;
                        }
                        while (tableAbiertas.rows.length > 1) {
                            tableAbiertas.deleteRow(1);
                            
                        }
                        while (tableCerradas.rows.length > 1) {
                            tableCerradas.deleteRow(1);
                            
                        }
                        data.forEach(i => {
                            
                            if(i.estado === "Pendiente"||i.estado==="En Proceso"){
                                let row = tableAbiertas.insertRow();

                                let cellId = row.insertCell(0);
                                let cellDetecto= row.insertCell(1);
                                let cellAvisar= row.insertCell(2);
                                let cellEquipo= row.insertCell(3);
                                let cellFecha = row.insertCell(4);
                                let cellTurno = row.insertCell(5);
                                let cellParadaProc= row.insertCell(6);
                                let cellPrioridad = row.insertCell(7);
                                let cellTipo = row.insertCell(8);
                                let cellHsInicio= row.insertCell(9);
                                let cellDescripcion= row.insertCell(10);
                                let cellAccion= row.insertCell(11);

                                cellId.textContent = i.idOrden;
                                cellDetecto.textContent = i.detecto;
                                cellAvisar.textContent = i.avisar;
                                cellEquipo.textContent = i.equipo;
                                cellFecha.textContent = fecha(i.fecha);
                                cellTurno.textContent = i.turno;
                                cellParadaProc.textContent = i.paradaProceso;
                                cellPrioridad.textContent = i.prioridad;
                                cellTipo.textContent = i.tipoParada;
                                cellHsInicio.textContent = fechahs(i.horaInicio);
                                cellDescripcion.textContent = i.descripcion;
                                cellAccion.innerHTML = `<a href="resolverOrden?idOrden=${i.idOrden}"> Cerrar`;


                            }else{
                                let row = tableCerradas.insertRow();

                                let cellId = row.insertCell(0);
                                let cellDetecto= row.insertCell(1);
                                let cellAvisar= row.insertCell(2);
                                let cellEquipo= row.insertCell(3);
                                let cellFecha = row.insertCell(4);
                                let cellTurno = row.insertCell(5);
                                let cellParadaProc= row.insertCell(6);
                                let cellPrioridad = row.insertCell(7);
                                let cellTipo = row.insertCell(8);
                                let cellHsInicio= row.insertCell(9);
                                let cellDescripcion= row.insertCell(10);
                                let cellAccion= row.insertCell(11);

                                cellId.textContent = i.idOrden;
                                cellDetecto.textContent = i.detecto;
                                cellAvisar.textContent = i.avisar;
                                cellEquipo.textContent = i.equipo;
                                cellFecha.textContent = fecha(i.fecha);
                                cellTurno.textContent = i.turno;
                                cellParadaProc.textContent = i.paradaProceso;
                                cellPrioridad.textContent = i.prioridad;
                                cellTipo.textContent = i.tipoParada;
                                cellHsInicio.textContent = fechahs(i.horaInicio);
                                cellDescripcion.textContent = i.descripcion;
                                cellAccion.innerHTML = `<a href="resolverOrden?idOrden=${i.idOrden}"> Modificar`;


                            }
                            
                            

                        })
                    })
            })

                
                