doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cierre de Orden de Trabajo | Polimetal
        
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet')
        script(src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js")
        link(href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/stylesheets/styleIndex.css")
        
        style.  
            h5{
                color:rgb(185, 21, 21);
            }
    body 
        div(class="d-flex")
            div(id="sidebar-container" class="bg-primary")
                div(class="logo")
                img(src="/favicon.ico" alt="" class="d-inline-block")
                h4(class="text-light font-weight-bold d-inline-block") Polimetal S.A
                div(class="menu")
                    a(href="/" class="d-block text-light" )
                        i(class="icon ion-md-home m-2 lead") 
                            |
                            |Inicio
                    a(href="ordenTrabajo" class="d-block " )
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes de Trabajo.
                    a(href="ordenesDia" class="d-block " )
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes del dia
                   
                    
                    
                    ul(class="logout")
                        li  
                            div(style="text-align: center")
                                img(src="/images/usuario.png", alt="" width="50px")
                            p(class="d-block p-3 text-light")= Nombre
                            a(href="/logout" class="d-block p-3 text-light" )
                                i(class="icon ion-md-log-in m-2 lead" )="    Logout"
               
            
            div(class="w-100")
                div(class="container")
                    button#menu-toggle.btn.btn-outline-primary ☰
                    
                        div(style="text-align: center;")
                            img(src="/images/logo.jpg" alt="logo" class="img-fluid")
                    if result.length > 0        

                        h2(class="bg-dark bg-gradient text-white")= "Descripcion de la Orden de trabajo N°"+idOrden 
                        
                        div(class="container")
                            br
                            div(class="row") 
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Detecto
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].detecto
                                
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Equipo
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].equipo
                            div(class="row")
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Fecha
                                p(class="col-3 p-2 mb-2" id="detecto")= f
                                
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Turno
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].turno
                            div(class="row")
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Parada de Proceso?
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].paradaProceso
                                
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Prioridad
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].prioridad
                            div(class="row")
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Tipo de Parada?
                                p(class="col-3 p-2 mb-2" id="detecto")= result[0].tipoParada
                                
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Hora de Inicio
                                p(class="col-3 p-2 mb-2" id="detecto")= hi
                            div(class="row")
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Hora de Finalizacion 
                                p(class="col-3 p-2 mb-2" id="detecto")= hf

                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Tiempo de Parada
                                p(class="col-3 p-2 mb-2" id="detecto")= total+" Minutos"
                                
                            
                            div(class="row")
                                p(class="col-3 p-2 mb-2 bg-danger text-white bg-gradient") Descripcion de la parada
                                p(class="col-9 p-2 mb-2" id="detecto")= result[0].descripcion
                        hr
                    
                        hr
                        h2(class="bg-dark bg-gradient text-white") Descripcion de la Resolucion
                        br
                        form(action="resolverOrden", method="post")

                            div(class="row")
                                input(type="hidden", name="idOrden", value=idOrden)
                                div(class="col-md-3")
                                    label(for="fecha" class="form-label") Fecha
                                    input(type="date" class="form-control" id="fecha" name="fecha" value=f2 required)
                                div(class="col-md-6")
                                    label(for="descripcion" class="form-label") Descripcion de la Reparacion
                                    textarea(name="descripcion" class="form-control" id="descripcion" )=result[0].descripcion_cierre
                                div(class="col-md-3")
                                    label(for="tiempo" class="form-label") Tiempo
                                    input(type="number", name="tiempo" class="form-control" id="tiempo" value=result[0].tiempo)
                            br
                            h5
                                i(class='bx bxs-label bx-sm') Repuestos Utilizados
                            hr
                            button(class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1") Agregar Repuesto
                            div(class="container")
                                table(class="table" id="tableItems")
                                    thead 
                                        th ID
                                        th CODIGO
                                        th DESCRIPCION 
                                        th CANTIDAD
                                        TH ACCION
                               
                            br
                            h5
                                i(class='bx bxs-label bx-sm') Tareas pendientes
                            hr
                            div(class="row")
                            
                                div(class="col-md-5")
                                    label(for="pendiente" class="form-label") Tareas pendientes 
                                    input(type="text", name="pendiente" class="form-control" id="pendiente" value=result[0].pendiente)
                                div(class="col-md-5")
                                    label(for="observaciones" class="form-label") Observaciones 
                                    input(type="text", name="observaciones" id="observaciones" class="form-control" value=result[0].observaciones_cierre)
                            br
                            h5 
                                i(class='bx bxs-label bx-sm') Responsables
                            hr
                            button(class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal") Agregar Ejecutor
                            table(class="table" id="tableEjecutores") 
                                thead 
                                    th ID 
                                    th LEGAJO 
                                    th NOMBRE 
                                    th CALORICAS
                                    th TRABAJO EN ALTURA
                                    th ACCION
                                tbody 

                           
                            br
                            h5
                                i(class='bx bxs-label bx-sm') Estado 
                            hr        
                            div(class="row")
                                
                                div(class="col-md-4")
                                    label(for="observaciones" class="form-label") Estado
                                    select(name="estado" class="form-select")
                                        option(value=result[0].estado)=result[0].estado
                                        option(value="Pendiente") Pendiente ❌
                                        option(value="En Proceso") En Proceso 🕐
                                        option(value="Cerrado") Cerrado ✅
                            br

                            input(type="submit", value="Cerrar Orden" class="button btn-success")
                            input(type="reset", value="Limpiar", class="button btn-secondary")
                        
                    else
                        h1= "No se encontraron resultados"
                                
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">+ Agregar Repuesto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <form class="d-flex" method="POST" action="agregarCodigo">
                                            input(type="hidden", name="idOrden" value=result[0].idOrden) 
                                            input(type="hidden", name="idCodigo" id="idCodigo")                              
                                            

                                            <label class="form-label"> Fecha
                                            input(type="date" name="fecha" class="form-control" id="fecha_item" value=f2)
                                            <label class="form-label"> Codigo
                                            <input type="text", name="codigo" id="codigo" class="form-control">
                                            <label class="form-label"> Descripcion 
                                            input(type="text" id="descripcion_repuesto" name="descripcion_repuesto" class="form-control")
                                            <label class="form-label"> Cantidad
                                            <input type="number", name="cantidad" class="form-control" id="cantidad">
                                                       
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            </div>
                            </form>                         
                    </div>
                </div>                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">+ Agregar interventor</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <form class="d-flex" method="POST" action="agregarEjecutor">
                                            input(type="hidden", name="idOrden" id="idOrden" value=result[0].idOrden) 
                                            input(type="hidden", name="sector" value=result[0].sector id="sector")

                                            <label class="form-label"> Fecha
                                            input(type="date" name="fecha" class="form-control" id="fecha" value=f2)
                                            <label class="form-label"> Legajo
                                            input(type="text", name="legajo" class="form-control" id="legajo")
                                            <label class="form-label"> Nombre
                                            input(type="text" name="nombre" class="form-control" id="nombre")
                                            <label class="form-label"> Minutos de Calorias
                                            input(type="number" class="form-control" name="calorias" id="calorias" value="0")
                                            <label class="form-label"> Minutos de Trabajo en Altura
                                            input(type="number" class="form-control" name="altura" id="altura" value="0")

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            </div>
                            </form>                         
                    </div>
                </div>
                       
                footer 
                        br 
                        div(class="col-12" style="text-align:center")
                            h6 &copy Copyright 2021 | Polimetal S.A     
                       
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.all.min.js")
        script.
            document.addEventListener("DOMContentLoaded", function() {
                const menuToggle = document.getElementById('menu-toggle');
                const sidebarContainer = document.getElementById('sidebar-container');

                menuToggle.addEventListener('click', function() {
                    sidebarContainer.classList.toggle('active');
                });
            }); 
            
            document.addEventListener('DOMContentLoaded', (event) => {
                let idOrden = document.getElementById('idOrden').value;
                let tableEjecutores = document.getElementById('tableEjecutores');
                fetch(`nominaOrden?idOrden=${idOrden}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(item => {
                            let row = tableEjecutores.insertRow();
                            
                            let cellId = row.insertCell(0);
                            let cellLegajo = row.insertCell(1);
                            let cellNombre = row.insertCell(2);
                            let cellCaloria = row.insertCell(3);
                            let cellAltura = row.insertCell(4);
                            let cellAccion = row.insertCell(5);

                            cellId.textContent = item.id;
                            cellLegajo.textContent = item.legajo;
                            cellNombre.textContent = item.nombre;
                            cellCaloria.textContent = item.calorias;
                            cellAltura.textContent = item.altura;
                            cellAccion.innerHTML = `
                                 <a class="btn btn-primary btn-sm edit-btn" href="editarEjecutor?id=${item.id}">Editar</a>
                    <a class="btn btn-danger btn-sm delete-btn" href="eliminarEjecutor?id=${item.id}&idOrden=${idOrden}" onclick="return confirmar(event)">Eliminar</a>
                                `;
                        }); 

                        
                            });
                        });
            document.addEventListener('DOMContentLoaded', (event) => {
                let idOrden = document.getElementById('idOrden').value;
                let tableItems = document.getElementById('tableItems');
                fetch(`itemsOrden?idOrden=${idOrden}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(item => {
                            let row = tableItems.insertRow();
                            
                            let cellId = row.insertCell(0);
                            let cellCodigo = row.insertCell(1);
                            let cellDesc = row.insertCell(2);
                            let cellCantidad = row.insertCell(3);
                            let cellAccion = row.insertCell(4);

                            cellId.textContent = item.id;
                            cellCodigo.textContent = item.codigo;
                            cellDesc.textContent = item.descripcion;
                            cellCantidad.textContent = item.cantidad;
                            
                            cellAccion.innerHTML = `
                                 <a class="btn btn-primary btn-sm edit-btn" href="editarItem?id=${item.id}">Editar</a>
                    <a class="btn btn-danger btn-sm delete-btn" href="eliminarItem?id=${item.id}&idOrden=${idOrden}" onclick="return confirmar(event)">Eliminar</a>
                                `;
                        }); 

                        
                            });
                        });
                
            function confirmar(event) {
                // Prevenir el comportamiento predeterminado del enlace
                event.preventDefault();
                
                // Mostrar una alerta de confirmación
                if (window.confirm('¿Estás seguro de que deseas eliminar este elemento?')) {
                    // Redirigir a la URL del enlace si el usuario confirma
                    window.location.href = event.target.href;
                } else {
                    // Si el usuario cancela, no hacer nada
                    return false;
                }
            }
            
            
            document.addEventListener('DOMContentLoaded', (event) => {
                const codigoInput = document.getElementById('codigo');
                const descripcionParrafo = document.getElementById('descripcion_repuesto');
                const legajoInput = document.getElementById('legajo');
                const nombreInput = document.getElementById('nombre')
                codigoInput.addEventListener('change', () => {
                    const codigo = codigoInput.value;

                    if (codigo) {
                        fetch(`items?codigo=${codigo}`)
                            .then(response => response.json())
                            .then(data => {
                                
                                if (data.Descripcion) {
                                    descripcionParrafo.value = data.Descripcion;
                                } else {
                                    descripcionParrafo.value = 'Descripción no encontrada';
                                }
                            })
                            .catch(error => {
                                console.error('Error al obtener la descripción:', error);
                                descripcionParrafo.value = 'Error al obtener la descripción';
                            });
                    } else {
                        descripcionParrafo.value = '';
                    }
                });
                legajoInput.addEventListener('change', () => {
                    const legajo = legajoInput.value;

                    if (legajo) {
                        fetch(`nomina?legajo=${legajo}`)
                            .then(response => response.json())
                            .then(data => {
                                console.log(data)
                                if (data.nombre) {
                                    nombreInput.value = data.nombre;
                                } else {
                                    nombreInput.value = 'Descripción no encontrada';
                                }
                            })
                            .catch(error => {
                                console.error('Error al obtener la descripción:', error);
                                nombreInput.value = 'Error al obtener la descripción';
                            });
                    } else {
                        nombreInput.value = '';
                    }
                });
            });
                

