doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Polimetal S.A | Ordenes de Trabajo
        
        link(href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css")
        
        link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
        script(src="https://kit.fontawesome.com/d3705cd4bb.js" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/styleIndex.css")

    body
        div(class="d-flex")
            div(id="sidebar-container" class="bg-primary")
                div(class="logo")
                img(src="/favicon.ico" alt="" class="d-inline-block")
                h4(class="text-light font-weight-bold d-inline-block") Polimetal S.A
                div(class="menu")
                    a(href="/" class="d-block text-light" )
                        i(class="icon ion-md-home m-2 lead") 
                            |
                            |Inicio
                    a(href="ordenTrabajo" class="d-block " )
                        i(class="icon ion-md-construct m-2 lead") 
                            |
                            |Ordenes de Trabajo
                    a(href="ordenesDia" class="d-block text-light")
                        i(class="icon ion-md-construct m-2 lead")   
                            |
                            |Ordenes del Dia
                        
                    br
                    hr

                    p Reportes
                    a(href="reporteHs" class="d-block text-light" id="selected")
                        i(class="fa fa-table" aria-hidden="true") 
                            |
                            | Reporte de Horas
                       
                    
                    
                    ul(class="logout")
                        li  
                            div(style="text-align: center")
                                img(src="../images/usuario.png", alt="" width="50px")
                            p(class="d-block p-3 text-light")= nombre
                            a(href="/logout" class="d-block p-3 text-light" )
                                i(class="icon ion-md-log-in m-2 lead" )="    Logout"
               
            
            div(class="w-100") 
                div(class="container" style="padding: 20px;")
                    button#menu-toggle.btn.btn-outline-primary ☰
                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                            button#menu-toggle.btn.btn-outline-primary ☰
                            h3(class="navbar-brand") Ordenes del dia
                            

                            <form class="d-flex">
                                
                                label(class="form-label") Seleccione Fecha inicial

                                input(type="date", name="fecha" id="fini" class="form-control")
                                label(class="form-label") Seleccione Fecha Final

                                input(type="date", name="fecha" id="ffin" class="form-control")

                                <button class="btn btn-outline-success" type="button" id="consultar">Consultar</button>
                            </form>

                        </div>
                    </nav>
                     
                        
                    
                    table(id="t1" class="table table-striped" )
                        thead
                            th Legajo 
                            th Nombre 
                            th Minutos Calorias
                            th Minutos Altura
                            
                    
                script(src="https://code.jquery.com/jquery-3.5.1.js")
                script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous")
                script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js")
                script(src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js")  
                <script src="https://cdn.datatables.net/fixedheader/3.2.1/js/dataTables.fixedHeader.min.js"></script> 
                script(src="https://kit.fontawesome.com/d3705cd4bb.js" crossorigin="anonymous")
                script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
                script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")
                script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js")
                script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js")
                script(type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js")
                script(type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js")
                script(type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js")
                script(type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js")
                script(type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js")
                script(src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js")
                
                
                        
                script. 
                    document.addEventListener("DOMContentLoaded", function() {
                        const menuToggle = document.getElementById('menu-toggle');
                        const sidebarContainer = document.getElementById('sidebar-container');

                        menuToggle.addEventListener('click', function() {
                            sidebarContainer.classList.toggle('active');
                        });
                    }); 
                    let consultar = document.getElementById('consultar');
           

                    consultar.addEventListener('click',(e)=>{
                        e.preventDefault();
                        
                        let fini = document.getElementById('fini').value;
                        
                        let ffin = document.getElementById('ffin').value;
                        let table = document.getElementById('t1');
                        
                        
                        fetch(`hsEjecutores?fini=${fini}&ffin=${ffin}`)
                            .then(response => response.json())
                            .then(data => {
                                function fecha(x){
                                let f = new Date(x);
                                let fecha = `${f.getDate()}/${f.getMonth()+1}/${f.getUTCFullYear()}`;
                                return fecha;
                                };
                                function fechahs(x) {
                                    let f = new Date(x);
                                    let day = f.getDate().toString().padStart(2, '0');
                                    let month = (f.getMonth() + 1).toString().padStart(2, '0');
                                    let year = f.getFullYear();
                                    let hours = f.getHours().toString().padStart(2, '0');
                                    let minutes = f.getMinutes().toString().padStart(2, '0');
                                    return `${day}/${month}/${year} ${hours}:${minutes}`;
                                }
                                while (table.rows.length > 1) {
                                    table.deleteRow(1);
                                    
                                }
                            
                                data.forEach(i => {
                                        let row = table.insertRow();

                                        let cellLegajo = row.insertCell(0);
                                        let cellNombre= row.insertCell(1);
                                        let cellCalorias= row.insertCell(2);
                                        let cellAltura= row.insertCell(3);
                                        
                                        cellLegajo.textContent = i.legajo;
                                        cellNombre.textContent = i.nombre;
                                        cellCalorias.textContent = i.calorias;
                                        cellAltura.textContent = i.altura;
                                })
                            })
                    })
